
*{
    box-sizing:border-box;
}
.player{
    display: grid;
    grid-template-rows: repeat(10,1fr);
    cursor: crosshair;

    --grid-color: #b7bdc8;
}
.boardRow:not(:last-child){
    border-bottom: solid max(1px, 0.0625rem) var(--grid-color);
}

.boardRow{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.coordinate{
    display: flex;
    align-items: center;
    justify-content: center;
}

.coordinate:not(:last-child){
    border-right: solid max(1px, 0.0625rem) var(--grid-color);
}

.coordinate:hover{
    background-color: #030b19;
}

.coordinate:active{
    background-color: #06142c;
}

.coordinate.missed{
    pointer-events: none;
}

.statusCircle{
    background-color: transparent;
    --circle-size: 6px;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
}