
.player{
    display: grid;
    grid-template-rows: repeat(10,1fr);

    --grid-color: #b7bdc8;
}
.boardRow:not(:last-child){
    border-bottom: solid max(1px, 0.0625rem) var(--grid-color);
}

.boardRow{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.coordinate:not(:last-child){
    border-right: solid max(1px, 0.0625rem) var(--grid-color);
}